@import "reset.css";
.background {
    background-image: url(../img/background.png);
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 50px;
}

.logo {
    padding-top: 49px;
    padding-left: 155px;
    float: left;
}

div.ro {
    background: url(../img/logo.png);
    padding-top: 5px;
    background-repeat: no-repeat;
    float: left;
    width: 46px;
    height: 44px;
}

div.ro:hover {
    background: url(../img/QQQQ.png);
    background-repeat: no-repeat;
}

.MILAN {
    float: left;
    text-decoration: none;
    padding-top: 49px;
    padding-left: 15px;
}

.MILAN-text {
    font-size: 29px;
    color: white;
}

.MILAN-text:hover {
    color: #f26522;
}

.HOLIDAYS-text {
    font-size: 18px;
    color: white;
}

.HOLIDAYS-text:hover {
    color: #f26522;
}

.email-phone-number {
    float: right;
    padding-top: 57px;
    padding-right: 147px;
}

.email {
    font-size: 18px;
    color: white;
}

.phone-number {
    font-size: 18px;
    color: white;
}

.email-phone-number-text {
    text-decoration: none;
}

.center-box-for-img {
    width: 1064px;
    height: 541px;
    box-sizing: border-box;
    float: left;
    margin-top: 42px;
    margin-left: 154px;
}

.img-box {
    display: inline-block;
    margin: 0 29.5px 35px;
    box-sizing: border-box;
}

.img-box:nth-child(3n+1) {
    margin-left: 0;
}

.img-box:nth-child(3n+3) {
    margin-right: 0;
}

.img-box-content {
    width: 311px;
    height: 204px;
    padding: 2px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 20px 30px black;
}

.photo-block-pic {
    object-fit: contain;
    width: 100%;
    height: auto;
    transition: 0.3s ease-in-out;
}

.img-box-content:hover .photo-block-pic {
    transform: scale(1.0);
}

.img-block-price {
    display: block;
    height: 62px;
    width: 311px;
    box-sizing: border-box;
    background-color: #f26522;
    padding: 10px 20px 15px;
    margin-left: -2px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    position: relative;
    top: 3px;
}

.img-box-content:hover .img-block-price {
    margin-top: -61px;
}

.photo-price {
    float: left;
    font-size: 20px;
}

.photo-details {
    float: right;
    font-size: 14px;
    padding-top: 16px;
}

.fa-angle-right {
    padding-left: 15px;
    opacity: 0.5;
}

.photo-price:before {
    content: 'from';
    font-size: 10px;
    height: 16px;
    display: inherit;
}

.photo-block-title {
    display: block;
    margin: 20px 50px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.photo-block-title:hover,
.img-box:hover .photo-block-title {
    color: #f26522;
}

.copyright {
    text-align: center;
    font-size: 12px;
    margin: 10px 0 20px;
}

.bottomtext {
    text-decoration: none;
    padding-left: 512px;
    padding-top: 51px;
    float: left;
    color: white;
}